body {
	background: white;
	height: 500px;
}

.boxcolor {
	width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;

	background-color: red;
	color: white;
	text-align: center;
}

.introbox {
	background-color: white;
	width: 700px;
	margin: 0 auto;
}

.frame {
	width: 100vw;
	background-color: white;
	margin-top: 20px;
}

.leftside {
	
	float: left;
	width: 350px;
}

.rightside {
	
	float: left;
	min-height: 500px;
	width: 350px;
}

.boxes {
	width: 700px;
	margin: 0 auto;
	margin-top: 55px;

}

.link {
	display: inline-block;
	text-align: center;
	margin-top: 160px;
}

.leading {
	line-height: 0px;
}

@media only screen and (max-width: 700px) {
	.leftside {
		width: 350px;
		margin-bottom: 50px;
	}

	.rightside {
		width: 360px;
	}

	.boxcolor {
		width: 100vw;
		padding-top: 10px;
		padding-bottom: 10px;

		background-color: red;
		color: white;
		text-align: center;
	}

	.leading {
		line-height: 30px;
		width: 400px;
	}

	.introbox {
	background-color: white;
	width: 370px;
	margin: 0 auto;
	}

	.boxes {
		margin-left: 20px;
	}
}

	